{% extends "storyapp/index.html" %}

{% block title %}Register{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<div class="card border-info">
				<div class="card-header">
					<h5 class="text-info float-left">Register</h5>

					<h5 class="float-right">Soulines</h5>

				</div>
					<div class="card-body">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{{form.media}}
							{{form | crispy}}
							<button class="btn btn-outline-secondary">Register</button>
							<small class="card-text">Already have an account ? <a href="{% url 'login' %}">Sign in</a></small>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

   
{% endblock content %}